* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colors {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    > * {
        height: 150px;
    }

    > *:hover {
        opacity: .8;
    }

    > *:active {
        opacity: .3;
    }
}

.counts {
    width: 90%;
    margin: 3rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    grid-gap: .5rem;

    > * {
        height: 200px;
    }

    > * {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 3rem;
        }
    }
}

.good {
    background-color: black;
    color: white;
}

.red {
    color: white;
    background-color: red;
}

.blue {
    color: white;
    background-color: blue;
}

.green {
    color: white;
    background-color: green;
}

.pink {
    color: white;
    background-color: pink;
}

.yellow {
    color: white;
    background-color: yellow;
}